$black1: #202428
$black2: #0C1023
$grey1: #F2F3F3
$grey2: #D6D6D6
$grey3: #A8A8A8
$red: #F86C5C

html
    font-size: 14px

html,body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif
    background: $grey1

.page-wrapper
    background: $grey1
    
.top-navigation
    position: fixed
    top: 0
    left: 0
    right: 0
    background: white
    height: 50px
    border-bottom: 1px solid $grey2
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px
    z-index: 200
    #logo
        display: flex
        align-items: center
        cursor: pointer
        text-decoration: none
        img
            width: 30px
        h4
            font-family: 'Montserrat', sans-serif
            font-weight: 700
            font-size: 1rem
            color: $black1
            margin-left: 10px
            animation: slide-up-light 1s ease
            display: none
            span
                color: $red
        h4.show
            display: block
        h4.static
            animation: none
            display: block
    #nav-items
        li
            list-style: none
            display: inline-block
            a
                text-decoration: none
                font-size: 1rem
                font-weight: 600
                color: $black2
                margin: 0 16px
                transition: color 0.1s ease
                &:hover
                    opacity: 0.8
        li.active
            a
                color: $red 

.header-container
    padding-top: 50px
    padding-left: 9%
    padding-right: 9%
    max-width: 1500px
    .heading
        position: relative
        h1
            font-family: 'Montserrat', sans-serif
            font-weight: 700
            font-size: 5rem
            color: $black1
            margin-bottom: 0
            span
                color: $red
        .social-media
            position: absolute
            right: 1%
            top: 20px
            display: flex
            align-items: center
            span
                font-size: 1rem
                font-weight: 400
                color: $black1
                display: inline-block
                margin-right: 10px
            a
                display: inline-block
                width: 40px
                height: 40px
                border-radius: 50%
                border: 1px solid $black1
                cursor: pointer
                position: relative
                transition: all 0.3s ease
                margin: 4px
                img
                    width: 60%
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                    margin: auto
            .twitter:hover
                background: #00acee
                img
                    -webkit-filter: invert(100%)
                    filter: invert(100%)
            .fb:hover
                background: #3b5998
                img
                    -webkit-filter: invert(100%)
                    filter: invert(100%)
        .product-hunt
            position: absolute
            top: 170px
            right: -20px
            
    h3
        font-size: 1.6rem
        color: $black1
    .additional-info
        display: flex
        h4
            color: $grey3
            display: inline-block
            margin-right: 10px
        a
            display: inline-block
            position: relative
            top: 15px
            margin-left: 8px
            cursor: pointer
            img
                width: 24px

.about-wrapper
    margin: 0 auto
    width: 60%
    margin-top: 80px
    h1
        font-family: 'Montserrat', sans-serif
        font-weight: 700
        font-size: 2.6rem
        color: $black1
        text-align: center
        span
            color: $red
    .info-container
        background: white
        border-radius: 8px
        box-shadow: 0 40px 100px -20px rgba(11,16,38,0.075), 0 30px 70px -30px rgba(0,0,0,0.05)
        animation: slide-up 1s ease
        line-height: 24px
        letter-spacing: 0.7px
        padding: 32px
        .story
            color: $black1
            font-size: 1rem
            text-align: center
        .note
            color: $grey3
            font-size: 1rem
            text-align: center
            margin: 0 20px
            margin-top: 32px
            a
                cursor: pointer
                text-decoration: underline
                color: $grey3
        .highlight
            color: $red
            font-size: 1rem
            text-align: center
            margin: 0 20px
            margin-top: 32px
        .icons
            display: flex
            align-items: center
            justify-content: center
            a
                display: inline-block
                margin: 8px
                margin-top: 16px
                cursor: pointer
                img
                    width: 32px
        .buymeacoffee
            text-align: center
            .note
                color: $black1
                margin-top: 16px
                margin-bottom: 16px

                
    
.image-container
    padding-top: 50px
    padding-bottom: 50px
    padding-left: 8%
    padding-right: 8%
    max-width: 1500px
    margin: 0 auto
    .item
        display: inline-block
        width: 20.9%
        margin: 1%
        margin-bottom: 1.2%
        padding: 10px
        background: white
        border-radius: 8px
        box-shadow: 0 40px 100px -20px rgba(11,16,38,0.075), 0 30px 70px -30px rgba(0,0,0,0.05)
        animation: slide-up 1s ease
        position: relative
        img
            width: 100%
            border-radius: 8px
        .color-panel
            display: flex
            align-items: center
            justify-content: space-between
            padding: 16px 30px 
            .color
                width: 24px
                height: 24px
                border-radius: 50%
                background: $grey1
                cursor: pointer
                position: relative
                animation: scale 1.5s ease
                .tooltip
                    background: $black1
                    color: white
                    border-radius: 4px
                    position: absolute
                    bottom: -35px
                    z-index: 100
                    margin: 0 auto
                    display: none
                    span
                        display: inline-block
                        margin: 4px
                        font-size: 1rem
            .color:hover
                .tooltip
                    display: block
        .favourite
            width: 32px
            height: 32px
            background: white
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            position: absolute
            right: 16px
            top: 16px
            display: none
            opacity: 0
            transition: all 0.3s ease
            cursor: pointer
            svg
                width: 16px
                height: 16px
        .favourite.added
            svg
                path
                    fill: #F86C5C
        .close
            svg
                width: 12px
                height: 12px
    .item:hover
        .favourite
            display: flex
            opacity: 1

.loader
    display: flex
    justify-content: center
    svg
        width: 100px
        height: 100px
        margin: 20px
        display: inline-block
        text-align: center
        padding-left: 50px
        position: relative
        bottom: 40px

#empty-favourites-page
    text-align: center
    margin: 0 auto
    // display: none
    img
        width: 25%
    .message
        font-size: 1.2rem
        font-weight: 600
        color: $black1
        width: 50%
        margin: 0 auto
        margin-top: -20px
    .info
        font-size: 0.9rem
        font-weight: 400
        color: $grey3
        width: 50%
        margin: 0 auto
        margin-top: 10px

footer
    display: none
    h4
        text-align: center
        font-size: 1rem
        color: $grey3
        font-weight: 400
        a
            cursor: pointer
            text-decoration: underline
            color: $grey3

    

@keyframes slide-up 
    0% 
        opacity: 0
        transform: translateY(30px)
    
    100%
        opacity: 1
        transform: translateY(0)

@keyframes slide-up-light
    0% 
        opacity: 0
        transform: translateY(10px)
    
    100%
        opacity: 1
        transform: translateY(0)

@keyframes scale
    0% 
        opacity: 0
        transform: scale(0.5)
    
    100%
        opacity: 1
        transform: scale(1)


@media (max-width: 1150px)
    .image-container
        .item
            width: 29%

@media (max-width: 1036px)
    .image-container
        .item
            width: 28.6%

@media (max-width: 886px)
    html
        font-size: 13px
    .image-container
        padding-left: 50px
        padding-right: 50px
        .item
            width: calc(50% - 30px)
            margin: 5px
            margin-bottom: 10px
    .product-hunt
        display: none

@media (max-width: 740px)
    .header-container .heading .social-media
        display: none
    .about-wrapper
        width: 80%
        margin-bottom: 50px

@media (max-width: 580px)
    .image-container
        .item
            .color-panel
                padding: 10px 16px
                .color
                    width: 20px
                    height: 20px
    .header-container .additional-info a img
        display: none
    #empty-favourites-page img
        width: 50%

@media (max-width: 480px)
    .top-navigation
        #logo
            h4.static
                display: none
    .image-container
        .item
            width: calc(100% - 30px)
            .color-panel
                padding: 12px 20px
                .color
                    width: 24px
                    height: 24px
    .header-container 
        .heading 
            h1
                font-size: 4rem
        h3
            font-size: 1.4rem

@media (max-width: 380px)
    .top-navigation #nav-items li a
        margin: 0 8px
    .top-navigation #logo img
        width: 24px
    .image-container
        padding-left: 30px
        padding-right: 30px
        .item
            width: calc(100% - 30px)
            .color-panel
                padding: 10px 16px
                .color
                    width: 20px
                    height: 20px
    .header-container 
        .heading 
            h1
                font-size: 3rem
        h3
            font-size: 1.3rem
    



                    