<div
  class="color group/color relative h-6 w-6 animate-scale cursor-pointer rounded-full bg-background max-[480px]:h-[20px] max-[480px]:w-[20px]"
  onclick="onColorClick(event)"
>
  <div
    class="tooltip absolute bottom-[-35px] z-100 hidden rounded bg-text-primary text-text-inverse group-hover/color:block"
  >
  </div>
</div>
